jid = "someJid@example.com"
password = "foo-bar"

useipv6 = False

nick = "MyBotName"
channel = "chatroomgoeshere"

databasefile = "cardboardlog.db"

brainfile = "cardboardbrain.brn"
memoriesfile = "cardboardmemories.yml"
aimlpath = "aiml/std-startup.xml"